 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f7f9fb;
        }
        
         ::-webkit-scrollbar {
            width: 8px;
        }
        
         ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
         ::-webkit-scrollbar-thumb {
            background: #22c55e;
            border-radius: 4px;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background: #16a34a;
        }