<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - </title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="/static/style3.css">

</head>
<body>

  <header>
  <div class="logo">
    <img src="/static/images/logo.jpg" alt="NutriGuide logo">
    <div class="logo-text">
      <h1 style="font-size: 1.2em; margin: 0; color: white;"><i>NutriGuide</i></h1>
      <p style="font-size: 0.8em; margin: 0; color: #ccc;"><i>Rehab your health</i></p>
    </div>
  </div>

  <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About</a></li>
      <li>
        <a href="#">Programs ▾</a>
        <div class="dropdown-content">
          <a href="/lifestyle">NutriGuide for Lifestyle Management</a>
          <a href="/women">NutriGuide for Women</a>
          <a href="/kids">NutriGuide for Kids</a>
          <a href="/corporates">NutriGuide for Corporates</a>
        </div>
      </li>
      <li><a href="/how_it_work">How it Works</a></li>
      <li><a href="/praises1">Praises</a></li>
      <li><a href="/iplan1">iPlan</a></li>
      <li><a href="/nutribites">Nutribites</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<section class="hero">
   <h1>Get to Know Us</h1><br>
    <p>We're a passionate team dedicated to building great things.</p>
  </section>



    <main>
        <section class="content-section zig-zag">
            <div class="zig-zag-text">
                <h2>Our Main Motto</h2>
                <p><b>Mottos for a nutrition food doctor can focus on empowerment, personalization, and the connection between food and health, such as "Nourish your potential, transform your health".</b></p>
                <p>General medical guidance for a healthy diet emphasizes balanced and varied intake from all food groups, while limiting unhealthy fats, added sugars, and sodium. For more personalized or complex dietary needs, a doctor may refer you to a registered dietitian for medical nutrition therapy. </p>
            </div>
            <div class="zig-zag-image">
                <img src="/static/images/doctor-1-png.jpg" alt="Our team working in the office">
            </div>
        </section>

        <section class="content-section zig-zag">
            <div class="zig-zag-text">
                <h2>Ethical and professional concerns</h2>
                <p></p>
                <p>Doctors and other medical professionals face unique ethical considerations that restrict what they can post online. <br><br><b>Privacy laws:</b> The Health Insurance Portability and Accountability Act (HIPAA) prevents the sharing of a patient's protected health information, and posting too much about personal habits could risk blurring boundaries.<br><b>Public trust and misinformation: </b>Sharing personal health habits, which may not be appropriate for all patients, could be perceived as professional medical advice. If a health outcome were poor, it could damage public trust.<br><b>Medical training bias:</b> A doctor's nutritional training is often limited, leading to a gap between their knowledge and the complexity of real-world application. </p>
            </div>
            <div class="zig-zag-image">
                <img src="https://www.kgi.edu.in/blog/wp-content/uploads/2021/07/4668603-scaled.jpg" alt="Our original garage workspace">
            </div>
        </section>

        <section class="team-section content-section">
            <h2>Meet the Team</h2>
            
            <div class="team-container">
                
                <div class="team-member">
                    <img src="/static/images/nanda fr.jpg.jpg" alt="Profile picture of Nanda Kishore">
                    <h3>Nanda Kishore</h3>
                    <p class="title">Developer</p>
                    <p>Kishore is developer,<br>Implements the technical part of the project based on requirements<br>Works closely with designers and testers.</p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/nandapulluri?igsh=bGEwcTI1NGVrcTRl"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/nanda-kishore-5411a0379?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="team-member">
                    <img src="/static/images/yeshwanth fr.jpg.jpg" alt="Profile picture of yeshwanth">
                    <h3>yashvanth</h3>
                    <p class="title">UI-UX Expert</p>
                    <p>yashvanth is a Designer,<br>Designs the layout, visuals, and user experience.<br>Ensures the interface is user-friendly and attractive.</p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/kadira_sai?igsh=anJzbzU3cGl5ZnJ6"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/sai-yashvanth-kadire-3b6354379?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/static/images/sreegyan.jpg.jpg" alt="Profile picture of sreegyan">
                    <h3>SreeGyan</h3>
                    <p class="title">Project Manager</p>
                    <p>Sregyan is a team lead,<br>Plans, organizes, and monitors the entire project.<br>Assigns tasks to team members.<br>Ensures the project is completed on time and within scope.<br>Communicates between the team and stakeholders (like teachers or clients)</p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/gnaneswar_lucky?utm_source=qr&igsh=MWs0Mzh1anU2OTk2eg=="><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/gnaneswar-bongu-2b502a37a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/static/images/kalyan fr.jpg.jpg" alt="Profile picture of Kalyan Krishna">
                    <h3>Kalyan Krishna</h3>
                    <p class="title">Tester</p>
                    <p>Kalyan is an Quality Analyst,<br>Tests the product for bugs or errors.<br>Verifies that all functions work correctly before final submission.<br>Reports issues to the developer and ensures they’re fixed.</p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/kalyan_kris_27?igsh=Y2R1cWZsZ3F3NDl1"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/kalyan-krishna-amarapu-90a993385?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 NutriGuide . All rights reserved.</p>
    </footer>

</body>
</html>